/*///////////////////////////////////////////////////////
///////////////////////VARIABLES/////////////////////////
///////////////////////////////////////////////////////*/

html {
  --color-apricot: #ffd8be;
  --color-electric-indigo: #5233ff;
  --color-ghost-white: #f8f7ff;
  --color-oxford-blue: #050029;
  --color-periwinkle: #b8b8ff;
  --color-sandy-brown: #ffad5c;

  --color-modal-backdrop: rgb(184, 184, 255, 0.5);

  --font-family-main: 'Inter', Arial, Helvetica, sans-serif;
}
