/*///////////////////////////////////////////////////////
///////////////////////VARIABLES/////////////////////////
///////////////////////////////////////////////////////*/

html {
  --color-apricot: #ffd8be;
  --color-electric-indigo: #5233ff;
  --color-ghost-white: #f8f7ff;
  --color-oxford-blue: #050029;
  --color-periwinkle: #b8b8ff;
  --color-sandy-brown: #ffad5c;

  --color-modal-backdrop: rgb(184, 184, 255, 0.5);

  --font-family-main: 'Inter', Arial, Helvetica, sans-serif;
}

/*/ //////////////////////////////////////////////////////
///////////////////////DASHBOARD/////////////////////////
///////////////////////////////////////////////////////*/

.main-dashboard {
  border: 5px solid var(--color-oxford-blue);
  height: 601px;
  width: 962px;
  vertical-align: middle;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-ghost-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-periwinkle);
  border-radius: 4px;
}

/*/ //////////////////////////////////////////////////////
////////////////////////HEADER//////////////////////////
///////////////////////////////////////////////////////*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em 0 1em;
}

header form {
  height: 40px;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.hamburger-bars {
  display: inline-block;
  cursor: pointer;
  margin: 0;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: var(--color-electric-indigo);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.bar1-change {
  background-color: var(--color-ghost-white);
  transform: translate(0, 8px) rotate(-45deg);
}

/* Fade out the second bar */
.bar2-change {
  background-color: var(--color-ghost-white);
  opacity: 0;
}

/* Rotate last bar */
.bar3-change {
  background-color: var(--color-ghost-white);
  transform: translate(0, -8px) rotate(45deg);
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  z-index: 1000;
}

.favorites-title {
  font-family: var(--font-family-main);
  font-size: 25px;
  font-weight: 600;
  height: 25px;
  color: var(--color-ghost-white);
}

.header-container .app-title {
  color: var(--color-oxford-blue);
  font-family: var(--font-family-main);
  font-size: 20px;
  font-weight: 600;
  height: 20px;
}

.header-container .current-time {
  color: var(--color-electric-indigo);
  font-family: var(--font-family-main);
  font-size: 20px;
  font-weight: 600;
  height: 20px;
  margin: 0;
}

.expand-search {
  display: flex;
  position: relative;
  margin: 0;
  overflow: hidden;
}

.expand-search i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 8px;
  color: var(--color-electric-indigo);
  cursor: pointer;
  user-select: none;
  transition: 0.24s;
}
.expand-search i:hover {
  color: var(--color-oxford-blue);
}
.expand-search input {
  border: none;
  background: var(--color-periwinkle);
  font-size: 16px var(--font-family-main);
  padding: 8px 12px;
  background: none;
  border-radius: 4px;
  transition: 0.24s;
  width: 0px;
  padding: 8px 0px 8px 34px;
}
.expand-search input:focus {
  border: 2px solid var(--color-periwinkle);
  outline: none;
  width: 200px;
}
.expand-search input:focus + i {
  color: var(--color-electric-indigo);
  pointer-events: none;
}

::placeholder {
  color: var(--color-periwinkle);
  font-family: var(--font-family-main);
  font-style: italic;
  font-weight: 300;
}

.header-container hr {
  align-self: center;
  border: none;
  border-top: 2px solid var(--color-periwinkle);
  margin: 10px 0 0 0;
  width: 100%;
}

/*/ //////////////////////////////////////////////////////
//////////////////////SIDEBAR/////////////////////////
///////////////////////////////////////////////////////*/

.sidebar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-electric-indigo);
  color: var(--color-ghost-white);
  z-index: 500;
  width: fit-content;
  height: 100%;
}

.favorite-cities {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 1em;
  margin-right: 1em;
  font-family: var(--font-family-main);
  font-size: 20px;
  font-weight: 600;
  height: auto;
}

.favorite-cities ul {
  margin: 0;
  padding: 0;
}

.favorite-cities li {
  margin: 0;
  margin-top: 30px;
  list-style: none;
  cursor: pointer;
}

.favorite-city {
  display: flex;
}

.fa-heart-o {
  color: red;
  cursor: pointer;
  margin-left: 1em;
}

.fa-heart {
  color: red;
  cursor: pointer;
  margin-left: 1em;
}

.other-pages {
  display: flex;
  margin-bottom: 30%;
  font-family: var(--font-family-main);
  font-size: 20px;
  font-weight: 600;
  height: 20px;
  margin-left: 1em;
}

/*/ //////////////////////////////////////////////////////
//////////////////////TOGGLE CSS/////////////////////////
///////////////////////////////////////////////////////*/

/* The box around slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 73px;
  height: 40px;
  margin: 1em;
}

/* Hides default HMTL checkbox*/
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background-color: var(--color-periwinkle);
  transition: background-color 0.4s ease-in-out;
}

.toggle-slider:before {
  position: absolute;
  content: attr(data-content);
  color: var(--color-ghost-white);
  font-family: var(--font-family-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  height: 32px;
  width: 32px;
  left: 4px;
  bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-electric-indigo);
  border-radius: 4px;
  transition: transform 0.5s ease-in-out;
}

input:checked + .toggle-slider {
  background-color: var(--color-electric-indigo);
}

input:checked + .toggle-slider:before {
  transform: translateX(32px);
  background-color: var(--color-periwinkle);
  color: var(--color-oxford-blue);
  content: attr(data-alt-content);
}

/*/ //////////////////////////////////////////////////////
////////////////////TITLE CONTAINER//////////////////////
///////////////////////////////////////////////////////*/

.toggle-title-container {
  color: var(--color-electric-indigo);
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-main);
}

.toggle-title-container .title {
  display: flex;
}

/*/ //////////////////////////////////////////////////////
///////////////////FORECAST CONTAINER/////////////////////
///////////////////////////////////////////////////////*/

.seven-day-forecast {
  display: flex;
  height: auto;
  justify-content: space-between;
  max-width: 100%;
  overflow-x: auto;
}

/*/ //////////////////////////////////////////////////////
/////////////////CURRENT WEATHER WIDGET///////////////////
///////////////////////////////////////////////////////*/

.current-weather-widget {
  background-color: var(--color-ghost-white);
  border-radius: 8px;
  border: 2px solid var(--color-electric-indigo);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-main);
  height: auto;
  line-height: 16px;
  padding: 10px;
  margin: 1em;
  margin-top: 0;
  max-width: 100%;
  text-align: center;
}

.current-weather-widget .date-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.current-weather-widget .date,
.current-weather-widget .day,
.current-weather-widget .temp-and-icon,
.current-weather-widget .temp {
  margin: 5px 0;
}

.current-weather-widget h1 {
  color: var(--color-electric-indigo);
  font-weight: 800;
  white-space: nowrap;
}

.current-weather-widget h3 {
  color: var(--color-electric-indigo);
  font-weight: 600;
  text-align: center;
}

.current-weather-widget h4 {
  color: var(--color-electric-indigo);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 0;
  margin-bottom: 0;
}

.current-weather-widget img {
  display: block;
  margin: 0 auto;
  filter: drop-shadow(var(--color-electric-indigo) 0rem 0rem 30px);
}

/*/ //////////////////////////////////////////////////////
////////////////////WEATHER DETAILS//////////////////////
///////////////////////////////////////////////////////*/

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modal-backdrop);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.weather-details-container {
  position: absolute;
  display: flex;
  border: 2px solid var(--color-electric-indigo);
  border-radius: 8px;
  background-color: var(--color-ghost-white);
  color: var(--color-electric-indigo);
  margin-top: 1em;
  margin-left: 1em;
  left: 50%;
  top: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.weather-details-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-family-main);
}

.weather-details-content .closeButton {
  display: flex;
  justify-content: flex-end;
}

.weather-details-content .weather-details {
  margin: 0 2em 2em 2em;
}

.weather-details .temp-header {
  margin-bottom: 3em;
  display: flex;
  justify-content: space-between;
}

.weather-details .min-max {
  margin: 1em;
  text-align: right;
}

.min-max h3 {
  margin: 0;
}

.weather-details .circle {
  min-width: 100px;
  height: 100px;
  background-color: var(--color-periwinkle);
  filter: drop-shadow(var(--color-electric-indigo) 0rem 0rem 30px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-details-content button {
  background-color: transparent;
  border: none;
  color: var(--color-periwinkle);
  height: fit-content;
  width: fit-content;
  font-size: 1.5em;
  margin: 1em 1em 0 1em;
}

.weather-details-content button:hover {
  color: var(--color-electric-indigo);
}

.additional-info {
  display: flex;
  flex-direction: column;
}

.additional-info p {
  margin: 0;
}

/*/ //////////////////////////////////////////////////////
//////////////////// EVENTS IN AREA //////////////////////
///////////////////////////////////////////////////////*/

.events-area-container {
  display: flex;
  flex-direction: column;
}

.events-area-title {
  display: flex;
  justify-content: center;
}

.events-area-title h1 {
  color: var(--color-electric-indigo);
  font-family: var(--font-family-main);
  font-size: 20px;
  font-weight: 600;
  height: 20px;
}

.all-event-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.event-card {
  flex: 1 1 calc(10% - 1em);
  box-sizing: border-box;
  border: 2px solid var(--color-electric-indigo);
  border-radius: 8px;
  padding: 1em;
  margin: 1em;
}

.event-card h4 {
  font-family: var(--font-family-main);
  color: var(--color-electric-indigo);
}

.event-card p {
  font-family: var(--font-family-main);
  font-size: 14px;
  color: var(--color-electric-indigo);
  margin: 0;
}

.event-image {
  width: 100%;
}

.tickets-button {
  background-color: var(--color-periwinkle);
  border-radius: 8px;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: var(--font-family-main);
  font-weight: 500;
  margin-top: 1em;
  cursor: pointer;
}

/*/ //////////////////////////////////////////////////////
////////////////////FONT FACE RULES//////////////////////
///////////////////////////////////////////////////////*/

/* Inter Light */
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Inter Light Italic */
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

/* Inter Medium */
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* Inter Medium Italic */
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

/* Inter Regular */
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Inter SemiBold */
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* Inter SemiBold Italic */
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

/* Inter Thin */
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

/* Inter Thin Italic */
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Inter Display';
  src: url('./fonts/Inter/InterDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Display';
  src: url('./fonts/Inter/InterDisplay-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Inter Display';
  src: url('./fonts/Inter/InterDisplay-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Display';
  src: url('./fonts/Inter/InterDisplay-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}
